.center-wrapper {
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center
}

.galleryList {
	list-style:none;
}

.imgLeftFix {
	margin-left: -4px;
}

@media only screen and (max-width: 760px) {
  #outerImg { width: 40px; }
  #innerImg { width: 43px; }
  #panelImg { width: 76px; }
  #speciesImg { 
  	width: 40px;
  	height: 40px;
  }
}